<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Behavioural Difficulty Prediction</title>
    <!-- <link rel="stylesheet" href="static/style.css"> -->
    <link rel="stylesheet" href="{{url_for('static' , filename = 'style.css')}}">
  </head>
  <body>
    <div class='title'>
      <h2 style="color:white;text-align:center;">Behavioural Difficulty Prediction</h2>
      </div>
 <!-- method="post" -->
    <div class ='form'>
      <form class="" action="/Behavioural" method="post">
        <label style="text-align:center;"  class="form-label" for="GoingToSchool">Are you still going to school?</label>
        <br>
        <div class="form-check form-check-inline">
          <input name = 'GoingToSchool' class="form-check-input" type="checkbox" value="2">
          <label class="form-check-label" for="GoingToSchool">Yes,Most of the Days</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'GoingToSchool' class="form-check-input" type="checkbox" value="1">
          <label class="form-check-label" for="GoingToSchool">Yes,Sometimes</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'GoingToSchool' class="form-check-input" type="checkbox" value="0">
          <label class="form-check-label" for="GoingToSchool">No</label>
        </div>

        <br>
        <br>

        <label style="text-align:center;" class="form-label" for="age">Enter Age of Student</label>
        <input name = 'age' class="form-control" type="number"  placeholder="Type Here" required>
        <br>

        <label style="text-align:left;" class="form-label" for="SportsDaysInWeek">In the last 7 days,How many days did you do sports or exercise for at least 1 hour.</label>
        <input name = 'SportsDaysInWeek' class="form-control" type="number" placeholder="Type Here" required>
        <br>

        <label style="text-align:left;" class="form-label" for="ConcentraionDays">In the last 7 days,How many days did you feel like you could concentrate well on your school work?</label>
        <input name = 'ConcentraionDays' class="form-control" type="number"  placeholder="Type Here" required>
        <br>

        <label style="text-align:center;" class="form-label" for="EnoughPlayTime">Do you have enough time for play?</label>
        <br>
        <div class="form-check form-check-inline">
          <input name = 'EnoughPlayTime' class="form-check-input" type="checkbox" value="3" >
          <label class="form-check-label" for="EnoughPlayTime">Yes, it's just about enough</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'EnoughPlayTime' class="form-check-input" type="checkbox" value="2">
          <label class="form-check-label" for="EnoughPlayTime">Yes, I have loads</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'EnoughPlayTime' class="form-check-input" type="checkbox" value="1">
          <label class="form-check-label" for="EnoughPlayTime">No, I would like to have a bit more</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'EnoughPlayTime' class="form-check-input" type="checkbox" value="0">
          <label class="form-check-label" for="EnoughPlayTime">No, I need a lot more</label>
        </div>
        <br>
        <br>

        <label style="text-align:center;" class="form-label" for="RelaxSpace">Do you have somewhere at home where you have space to relax?</label>
        <br>
        <div class="form-check form-check-inline">
          <input name = 'RelaxSpace' class="form-check-input" type="checkbox" value="2">
          <label class="form-check-label" for="RelaxSpace">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'RelaxSpace' class="form-check-input" type="checkbox" value="1">
          <label class="form-check-label" for="RelaxSpace">Sometimes but not all the time</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'RelaxSpace' class="form-check-input" type="checkbox" value="0">
          <label class="form-check-label" for="RelaxSpace">No</label>
        </div>
        <br>
        <br>

        <label style="text-align:center;" class="form-label" for="SchoolWork">I am doing well with my school work(Agree or Disagree)</label>
        <br>
        <div class="form-check form-check-inline">
          <input name = 'SchoolWork' class="form-check-input" type="checkbox" value="4" >
          <label class="form-check-label" for="SchoolWork">Strongly Agree</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'SchoolWork' class="form-check-input" type="checkbox"  value="3">
          <label class="form-check-label" for="SchoolWork">Agree</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'SchoolWork' class="form-check-input" type="checkbox" value="2">
          <label class="form-check-label" for="SchoolWork">Neutral Opinion</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'SchoolWork' class="form-check-input" type="checkbox"  value="1">
          <label class="form-check-label" for="SchoolWork">Disagree</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'SchoolWork' class="form-check-input" type="checkbox" value="0">
          <label class="form-check-label" for="SchoolWork">Strongly Disagree</label>
        </div>
        <br>
        <br>

        <label style="text-align:center;" class="form-label" for="InTouchWithFamily">Are you able to keep in touch with your family that you don't live with?</label>
        <br>
        <div class="form-check form-check-inline">
          <input name = 'InTouchWithFamily' class="form-check-input" type="checkbox" value="1" >
          <label class="form-check-label" for="InTouchWithFamily">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'InTouchWithFamily' class="form-check-input" type="checkbox" value="0">
          <label class="form-check-label" for="InTouchWithFamily">No</label>
        </div>
        <br>
        <br>
        <label style="text-align:center;" class="form-label" for="IntouchWithFriends">Are you able to keep in touch with your friends?</label>
        <br>
        <div class="form-check form-check-inline">
          <input name = 'IntouchWithFriends' class="form-check-input" type="checkbox" value="1" >
          <label class="form-check-label" for="IntouchWithFriends">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input name = 'IntouchWithFriends' class="form-check-input" type="checkbox" value="0">
          <label class="form-check-label" for="IntouchWithFriends">No</label>
        </div>
        <br>
        <br>

        <label style="text-align:center;" class="form-label" for="sleeptime">Enter Sleep Time</label>
        <input name = 'sleeptime' class="form-control" type="number" placeholder="Type Here" ><br>

        <div class="d-grid gap-2">
          <button  type="submit" class="btn btn-outline-primary" name="Predict">Predict</button>
        </div><br>
        <div class="output">
          {{output}}
        </div>


      </form>
    </div><br><br><br><br><br>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
